.hoverable-mask {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.8) 45%, rgb(0, 0, 0) 90%);
  z-index: 1;
}

.default-figure-mask {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}