.hoverable-mask {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1516981792717087) 0%, rgba(0, 0, 0, 0.3981967787114846) 25%, rgba(0, 0, 0, 0.8015581232492998) 100%);

  z-index: 1;
}

.default-figure-mask {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}