@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

abbr[title]{
    text-decoration: none !important;
}

abbr[title]:after
{
    content: " (" attr(title) ")";
}

.disabled-page{
    pointer-events: none;
}

.library-add-button{
    background: url("/assets/img/button-ellipse.svg") no-repeat;
    background-size: contain;
    width: 15%;
    height: auto;
}


.break {
    border: 0;
    margin: 0;
    height: 0;
    padding: 0;
    flex-basis: 100%;
}
/* Mainly used in old Bibliomar, here because reasons. */
.bg {
    background: linear-gradient(#231b40, #5948c6) no-repeat fixed center center;
    background-size: cover;
}

.bg-alt {
    /*noinspection CssUnknownTarget*/
    background: url("/assets/img/newBGLight.png") no-repeat fixed center center;
    background-size: cover;
}

.like-body {
    min-height: 100vh;
    width: inherit;
}

#newhere {
    margin-top: 5vh;
}



.searchfield {
    width: 75%;
}

.search-input{
    height: 7vh !important;
}

.search-button{
    min-width: 70px;
    max-width: 150px;
    width: 10vw;
    height: 7vh !important;
}

.greeting-text{
    font-family: 'Nunito Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.disclaimer {
    width: 90vw;
}

.resultimg {
    width: 90vw;
    max-height: 100%;
    min-height: fit-content;
}

.recommendation{
    width: 40vw;
    margin-right: 5px;
}

.recommendation-caption{
    width: 40vw;
}

.recommendation-button{
    width: 35vw;
    height: auto;
}

.library-section-container{
    width: 90vw;
}

.library-figure-img{
    min-width: 50%;
    max-width: 50%;
}

.reader-spotlight-figure-img{
    min-width: 50%;
}

.brand-img{
    max-width: 100%;
}

.reader-navbar-img{
    max-width: 30%;
}

.navbar-badge{
    font-size: 0.75rem !important;
}

.book-info-badge{
    font-size: .9rem !important;
    background: #8B7CF1 !important;
}

.bookcaption {
    width: 90vw;
}

.book-item{
    width: 100%;
}

.dbutton{
    width: 35vw;
}

.saved-list-div{
    width: fit-content;
}

.library-actions-button{
    width: 40vw;
}

.reader-modal-light-bg{
    background: #FAFAFA !important;

}
.reader-modal-dark-bg{
    background: #252525 !important;
}

.cover-img{
    width: 100%;
    height: auto;
}

.book-info-container{
    min-width: 100%;
    height: fit-content;
}

.book-info-cover-section{
    width: 80%;
}

.book-info-section{
    width: 80%;
}

/* Be sure to set the background color, otherwise it's an empty element.*/
.ellipse{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid #E3E3E3;
}



/*Be sure to define font-size manually. */
.book-info-title{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
}

.book-info-description{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: justify;
}

.small-line{
    border: 1px solid #CACACA;
}


@media screen and (min-width: 600px) {
    abbr[title]:after
    {
        content: "";
    }

    .searchfield {
        width: 50%;
    }


    .resultimg {
        width: 23vw;
        margin-right: 7px;
    }

    .recommendation{
        width: 12vw;
        margin-right: 5px;
    }

    .recommendation-caption{
        width: 12vw;
    }

    .recommendation-button{
        width: 11vw;
        height: auto;
    }

    .recommendation-div{
        width: fit-content;
    }

    .library-section-container{
        width: 70vw;
    }

    .library-figure-img{
        min-width: 30%;
        max-width: 30%;
        height: auto;
    }

    .reader-spotlight-figure-img{
        min-width: 30%;
    }

    .reader-figure-container{
        max-width: 40%;
    }

    .bookcaption {
        width: 23vw;
    }

    .disclaimer {
        width: 40vw;
    }

    .dbutton{
        max-width: 80%;
        width: 20vw;
    }

    .library-actions-button{
        width: 15vw;
    }

    .saved-list-div{
        min-width: 70%;
        max-width: fit-content;
    }

    .book-info-cover-section{
        width: 25%;
    }

    .book-info-section{
    width: 75%;
    }

    .book-info-container{
        min-width: 85%;
        max-width: 85%;
    }

}
