body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

abbr[title]{
    text-decoration: none !important;
}

abbr[title]:after
{
    content: " (" attr(title) ")";
}

.disabled-page{
    pointer-events: none;
}


.break {
    border: 0;
    margin: 0;
    height: 0;
    padding: 0;
    flex-basis: 100%;
}

.bg {
    background: linear-gradient(#231b40, #5948c6) no-repeat fixed center center;
    background-size: cover;
}

/*noinspection ALL*/
.bg-alt {
    /*noinspection CssUnknownTarget*/
    background: url("/assets/img/layered-waves-haikei (2).svg") no-repeat fixed center center;
    background-size: cover;
}

.like-body {
    min-height: 100vh;
    width: inherit;
}

#newhere {
    margin-top: 5vh;
}

.searchfield {
    width: 75%;
}

.disclaimer {
    width: 90vw;
}

.resultimg {
    width: 90vw;
    min-height: fit-content;
}

.recommendation{
    width: 40vw;
    margin-right: 5px;
}

.recommendation-caption{
    width: 40vw;
}

.recommendation-button{
    width: 35vw;
    height: auto;
}

.library-section-div{
    width: 90vw;
}

.library-figure-img{
    min-width: 40%;
    max-width: 40%;

    height: auto;
}

.reader-spotlight-figure-img{
    min-width: 50%;
}

.library-row:hover{
    background-color: #1266f1;
}

.library-row:active{
    background-color: #1266f1;
}

.bookcaption {
    width: 90vw;
}

.book-item{
    width: 100%;
}

.dbutton{
    width: 30vw;
}

.saved-list-div{
    width: fit-content;
}

.library-actions-button{
    width: 40vw;
}

.cover-img{
    width: 75vw;
    height: 50vh;
}


@media screen and (min-width: 600px) {
    abbr[title]:after
    {
        content: "";
    }

    .searchfield {
        width: 50%;
    }


    .resultimg {
        width: 23vw;
        margin-right: 7px;
    }

    .recommendation{
        width: 12vw;
        margin-right: 5px;
    }

    .recommendation-caption{
        width: 12vw;
    }

    .recommendation-button{
        width: 11vw;
        height: auto;
    }

    .recommendation-div{
        width: fit-content;
    }



    .library-section-div{
        width: 70vw;
    }

    .library-figure-img{
        min-width:  5vw;
        height: auto;
    }

    .reader-spotlight-figure-img{
        min-width: 30%;
    }

    .bookcaption {
        width: 23vw;
    }

    .disclaimer {
        width: 40vw;
    }

    .bg-alt {
        /*noinspection CssUnknownTarget*/
        background: url("/assets/img/back-lg-2.svg") no-repeat fixed center center;
        background-size: cover;
    }

    .cover-img{
        width: 95%;
        height: 90vh;
        margin-bottom: 5vh;
    }

    .dbutton{
        width: 12vw;
    }

    .library-actions-button{
        width: 15vw;
    }

    .saved-list-div{
        width: 70%;
    }

}
