// Dark theme specific classes are defined here.
@import "node_modules/mdb-ui-kit/src/scss/free/variables";


$accent-color: #7663F2;

// Fix for white text in selects' options
.form-select > option{
  color: $dark
}

.btn-primary{
  color: #FFFFFF;
  background-color: $accent-color !important;
}

.bg-alt{
  background-image: url("/assets/img/back-lg-2.svg");
}

.navbar-bg{
  background-color: #252525;
}

.recommendation-title{
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;

  color: #CACACA;
}

.basic-container{
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 4px 7px 4px rgba(0, 0, 0, 0.04);
  border-radius: 0 5px 5px 0;
}

.basic-container-alt{
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 4px 7px 4px rgba(0, 0, 0, 0.04);
  border-radius: 0 5px 5px 0;
}

.text-color{
  color: $light
}
