// Dark theme specific classes are defined here.

$accent-color: #7663F2;
$light-text: #fbfbfb;
$dark-text: #000000;

option {
  color: $dark-text;
}

.btn-primary {
  color: #FFFFFF;
  background-color: $accent-color !important;
}

.btn-outline-primary {
  color: $accent-color !important;
  border-color: $accent-color !important;
}

.bg-alt {
  /*noinspection CssUnknownTarget*/
  background-image: url("/assets/img/bg-dark.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: scroll !important;
}

.navbar-bg {
  background-color: #252525;
}

.recommendation-title {
  color: #CACACA;
}

.basic-container {
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 4px 7px 4px rgba(0, 0, 0, 0.04);
  border-radius: 0 5px 5px 0;
}

.basic-container-alt {
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 4px 7px 4px rgba(0, 0, 0, 0.04);
  border-radius: 0 5px 5px 0;
}

.text-color {
  color: $light-text
}
