// Light theme specific classes are defined here.

@import "mdb-ui-kit/src/scss/free/variables";

$text-color: #000000;
$bg-color: #EBECF8;

// bg for light theme
.bg-alt{
  background: $bg-color;
}

.form-control{
  color: $text-color;
}

