// Light theme specific classes are defined here.
@import "./mdb/mdb.min.css";
@import "node_modules/mdb-ui-kit/src/scss/free/variables";


$text-color: #000000;
$text-color-accent: #30333A;
$bg-color: #EBECF8;
$accent-color: #7663F2;

.bg-alt {
  /*noinspection CssUnknownTarget*/
  background-image: url("/assets/img/bg-light.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: scroll !important;
}

.form-control {
  color: $text-color;
}

.btn-primary {
  color: #FFFFFF;
  background-color: $accent-color !important;
}

.btn-outline-primary {
  color: $accent-color !important;
  border-color: $accent-color !important;
}

.recommendation-title {
  color: #585858;
}

.basic-container {
  background-color: #FAFAFA;
  box-shadow: 0 4px 7px 4px rgba(0, 0, 0, 0.04);
  border-radius: 0 5px 5px 0;
}

.basic-container-alt {
  background-color: rgba(237, 241, 245);
  box-shadow: 0 4px 7px 4px rgba(0, 0, 0, 0.04);
  border-radius: 0 5px 5px 0;
}

.navbar-badge {
  background-color: #7663F2 !important;
}

.navbar-bg {
  background-color: #FAFAFA;
}


.reader-navbar-title {

}

.text-color {
  color: $dark
}

